.btn {
    font-size: .9rem;
    font-weight: 700;
    width: 12rem;
    height: 2rem;
    text-decoration:none;
    text-decoration-line: none;

    background-color: #e30127;
    color: white;
    border-radius: 0.8rem;
    border-style: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    outline: none;
}

.btn:hover {
    background-color: rgb(112, 45, 45);
    transition: .4s;
}

a{
    text-decoration: none;
}

/* -------------------------- */
/* media query */

@media (max-width: 420px) {

    .btn {
        font-size: .8rem;
        width: 10rem;
        height: 2rem;
    }

}