.btn {
    font-size: .9rem;
    font-weight: 700;
    width: 15rem;
    height: 3rem;
    text-decoration:none;
    text-decoration-line: none;

    background-color: #1d9c16;
    color: white;
    border-radius: .5rem;
    border-style: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    outline: none;
}

.btn:hover {
    background-color: #106c0c;
    transition: .4s;
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

/* -------------------------- */
/* media query */

@media (max-width: 420px) {

    .btn {
        font-size: .8rem;
        width: 10rem;
        height: 2rem;
    }

}