.comp1{
    height: 88vh;
    background-image: url(../assets/fundobarista.jpeg);
    background-position-y: 70%;
    background-size: cover;
    background-repeat: no-repeat;
} 

.overlay{
    background-color:rgba(12, 0, 3, 0.8);
    height: 90vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.comp11{
    width: 75vw;    
    color: white;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.comp11 h1{
    font-size: 3rem;
    margin-bottom: 0;
}

.comp11 p{
    font-size: 1.2rem;
}

