.comp2{
    background-image: url(../assets/decolads_branco.png);
    background-position-y: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
}

.comp21 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.comp21 img {
    height: 8rem;
}

.comp22{
    width: 50%;
    color: #0c0003;
    text-align:justify;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.comp22 h1{
    font-size: 2rem;
    margin:0;
}

.comp22 p{
    margin: 0.5rem;
}


/* -------------------------- */
/* media query */

@media (max-width: 420px) {

    .comp2{
        background-image: url(../assets/decolads_branco.png);
        background-position-y: 100%;
        background-size: 120%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
    }

    .comp21{
        width: auto;
        display: flex;
        margin-bottom: 3rem;
    }

    .comp21 img {
        height: 5rem;
    }

    .comp22{
        width: auto;
        display: flex;
        justify-content: center;
    }

    .comp22 h1{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        margin:0;
    }

    .comp22 p{
        margin: 0.5rem 0;
        font-size: 0.9rem;
    }

}