.comp6 {
    font-family: 'Catamaran';
    font-weight: 400;
    background-color: white;
    color: #0c0003;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
}

.comp6 h1{
    font-size: 2rem;
    margin-bottom: 0;
    padding: 0 5rem;
    width: 60vw;
}


/* -------------------------- */
/* media query */

@media (max-width: 420px) {
   
    .comp6 {
        height: auto;
        padding: 2rem 2rem;
    }

    .comp6 h1{
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .comp6 p{
        font-size: 1rem;
    }

}
