.comp4 {
    font-family: 'Catamaran';
    font-weight: 400;
    background-color: #181A1B;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
}

.comp4 h1{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.comp4 button{
    margin: 0;
    padding: 0;
    border-radius: 0.8rem;
    border-style: none;
    background-color: red;
    color: white;
    font-weight: 700;
}

.comp4 button:hover{
    background-color: rgb(112, 45, 45);
    color: white;
    font-weight: 700;
}


/* -------------------------- */
/* media query */
    
@media (max-width: 420px) {
    .comp4 {
        background-color: #0c0003;
        height: auto;
        display: flex;
        padding: 1rem 2rem;
    }

    .comp4 h1{
        font-size: 1.2rem;
        margin-bottom: 0rem;
        padding: 0;
    }

    .comp4 p{
        font-size: .9rem;
    }
}