.navbar {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #0c0003;
    padding: 0 5rem;
}

.links_list {
    color: white;
    font-family: catamaran;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    list-style: none;
}

.links_list li a {
    padding: 0 .8rem;
    text-decoration: none;
}

.links_list li a:visited{
    color: white;
} 

.links_list li a:hover {
    color:#e30127;
    transition: .4s;
}

nav img{
    height: 4rem;
    padding-top: 2rem 0;
}

a{
    display: flex;
    text-decoration: none;
}


/* -------------------------- */
/* media query */

@media (max-width: 420px) {

    .navbar {
        height: 5rem;
        padding: 0 2rem;
    }

    nav img{
        padding-top: 0;
        height: 50px;
    }

}